/* -------------------------------------------------
anime
---------------------------------------------------- */

@keyframes PageAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}


@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}


@keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 1em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 2.2em;
    }
  }

  @keyframes fadeUpAnime{
	from {
	  opacity: 0;
	  transform: translateY(50px);
	}
  
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }

  
/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:0;
		opacity: 0;
	}
	30%{
		height:30px;
		opacity: 1;
	}
	100%{
		height:0;
		top:50px;
		opacity: 0;
	}
}


@keyframes ROLLRING {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }



@keyframes loop {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1900px 0; /* 画像のマイナス幅 */
    }
}


.scroll_up {
transform: translateY(30px);
opacity: 0;
}
.scroll_up.on {
transition:opacity 0.8s ease-in-out,transform 0.8s ease-in-out;
transform: translateY(0);
opacity: 1.0;
}