@use "../global/mixin" as *;
@use "../global/variable" as *;

body{
line-height: 1.85;
color: $color-font;
background:#000;
font-family: 'Noto Sans JP', sans-serif;
font-feature-settings:"palt"; /*文字詰め*/
letter-spacing: 0.1em;
font-size: 62.5%;/*デフォルト10px*/
-webkit-tap-highlight-color: transparent; /* リンクがタップされている間の強調をなくす */
-webkit-font-smoothing: antialiased;// macでフォントを滑らかに
-moz-osx-font-smoothing: grayscale;// macでフォントを滑らかに
line-break: strict;
overflow-wrap: break-word;
text-wrap: balance;
word-break: break-all;
-webkit-text-size-adjust: 100%; 
word-wrap: break-word;
min-width: 320px;
tab-size: 4;
scroll-behavior: smooth;
overflow-x: hidden;
}
@media (max-width: 768px) {
  .is-pc {
    display: none;
  }
  .is-sp {
    display: block;
  }
}
@media (min-width: 768px) {
  .is-sp {
    display: none !important;
  }
  .is-pc {
    display: block !important;
  }
}
:target {
scroll-margin-top: 3rem;
}
::selection {
background: #acacac;
}
img {
max-width: 100%;
height: auto;
image-rendering: crisp-edges;
// image-rendering: -webkit-optimize-contrast;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
