@use "../../global/variable" as *;
@use "../../global/mixin" as *;

/* area */
#container{
    overflow-x: hidden;
}

// bar
.scrollgress {
    z-index: 20;
}

// btn
.c-btn{
    font-size: 2vw;
    display: block;
    background: $color-main;
    color: $color-white;
    text-align: center;
    &:hover{
        background: $color-white;
        color: $color-main;
        transition: ease 0.4s;
    }
}