@use "../../global/variable" as *;
@use "../../global/mixin" as *;

/* area */
#container{
    overflow-x: hidden;
}

// bar
.scrollgress {
    z-index: 20;
}

// btn
.c-btn{
    font-size: 2vw;
    display: block;
    background: $color-main;
    color: $color-white;
    text-align: center;
    &:hover{
        background: $color-white;
        color: $color-main;
        transition: ease 0.4s;
    }
}
.c-ttl{
    border-left: 5px solid #000;
    padding-left: 0.4em;
    line-height: 1.4;   
    font-size: clamp(1.25rem, -0.528rem + 3.7vw, 2.25rem);
    width: fit-content;
    font-family: "Oswald", sans-serif;
    margin-bottom: 2.2rem;
}