@use "../../global/variable" as *;
@use "../../global/mixin" as *;

.c-container{
max-width: 1200px;
margin: auto;
}
.c-ttlWrap{
text-align: center;
}
.c-ttl{
text-align: center;
font-size: 6rem;
position: relative;
display: inline-block;
color: $color-white;
letter-spacing: 0.05em;
margin-bottom: 5rem;
@include mq(tab) {
  font-size: 3.2rem;
  margin-bottom: 3rem;
}
    &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 3px;
    background-color:$color-white;
    @include mq(tab) {
      width: 20px;
    }
  }
  &:before {
    left:-8rem;
    @include mq(tab) {
      left:-4rem;
    }
  }
  &:after {
    right: -8rem;
    @include mq(tab) {
      right:-4rem;
    }
  }
}

.c-ttl02{
  text-align: center;
  border-bottom: 2px solid #fff;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 4rem;
  padding-bottom: 0.5rem;
  @include mq(tab) {
    font-size: 2.8rem;
  }
}

.c-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color:$color-main;
    position: relative;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 5px 0 $color-main-deep;
    font-size: 2.6rem;
    font-weight: 600;
    background: $color-white;
    @include mq(tab) {
      height: 50px;      
      font-size: 2rem;
    }
    &::after{
      right: 1.5em;
      border-style: solid;
      border-width: 0 2px 2px 0;
      content: "";
      display: inline-block;
      position: absolute;
      height: 9px;
      width: 9px;
      border-color: $color-main;
      transform: rotate(-45deg);
    }
    &:hover {
      transform: translate3d(0, 5px, 0);
      color:$color-main;
      box-shadow: none;
      background: $color-ylw;
      transition: .5s ease;
    }
    &--item{
      width: 40%;
      margin: auto;
      @include mq(tab) {
        width: 80%;        
      }
    }
    &--all{
      width: 40%;
      margin: auto;
      @include mq(tab) {
        width: 100%;        
      }      
    }
    &--attention{
      background: $color-ylw;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        top: -100px;
        left: -100px;
        width: 50px;
        height: 50px;
        background-image: linear-gradient(100deg,  rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 0%);
        animation: shiny 3s ease-in-out infinite;
    }
  }
  &--short{
    width: 60%;
    margin: auto;
    @include mq(tab) {
      width: 100%;      
    }
  }
}
.c-circlebox{
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-between;
  @include mq(tab) {
    margin-bottom: 2.5rem;    
  }
}
.c-circle{
margin:auto;
background: $color-white;
border: solid 2px $color-sub;
width: 160px;
height: 160px;
border-radius: 80px;
box-shadow: 0 0 0 5px $color-white;
display: flex;
align-items: center;
justify-content: center;
@include mq(tab) {
  width: 25vw;
  height: 25vw;
  border-radius: 200px;
}
&__inner{
  text-align: center;
  font-size: 2.8em;
  color: $color-sub;
  font-weight: 700;
  line-height: 1.4;
  @include mq(tab) {
    font-size: 4vw;    
  }
  }
}
.c-btnwrap{
  text-align: center;
}
.c-microcopy{
  margin-bottom: 6px;
  font-weight: 600;
  color: $color-white;
  display: inline-block;
  position: relative;
  letter-spacing: 0.2em;
  font-size: 1.8rem;
  &:before,&:after{
    @at-root #{&} {
    display: inline-block;
    position: absolute;
    top: 55%;
    width: 18px;
    height: 2px;
    border-radius: 5px;
    background-color: $color-white;
    content: "";
    }
  }
  &::before {
    left: -30px;
    transform: rotate( 50deg );
  }
  &::after {
    right: -25px;
    transform: rotate( -50deg );
  }
}