@use "../global/variable" as *;
@use "../global/mixin" as *;

.p-visual{
    background:$color-white;
    height: 100svh;
    position: relative;
    font-family: 'Oswald', sans-serif;
//    overflow: hidden;
    @include mq(sp) {
//        overflow:visible;
    }
    &:before{
    content: "";
    background-color: #d11616;
    width: 105%;
    height: 150%;
    position: fixed;
    left: -54.5%;
    top: -47%;
    transform: rotate(10deg);
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.4s ease;
    @include mq(sp) {
        transform: skewX(40deg);
        top: 0;
        left: -188%;
        width: 260%;
        height: 100%;
        position: absolute;
    }
}
    &:after{
        content: "";
        background-color: #111;
        width: 105%;
        height: 150%;
        position: fixed;
        left: -54.9%;
        top: -47%;
        transform: rotate(10deg);
        clip-path: inset(0 0 100% 0);//初期設定
        clip-path: inset(0);//アニメーション後
        transition: clip-path 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
        @include mq(sp) {
            // width: 250%;
            // height: 250%;
            // left: -38%;
            //  top: 7%;
            // transform: rotate(130deg);
            transform: skewX(40deg);
            top: 0;
            left: -190%;
            width: 260%;
            height: 100%;
            position: absolute;
        }
    }
    &__inner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        // position: relative;
        z-index: 1;
        position: fixed;
        width: 100%;
        @include mq(sp) {
            flex-direction: column-reverse;
            position: absolute;
        }
    }
    &__lead{
        margin: -3% 2% 0 3%;
     color:$color-white;
     @include mq(sp) {
        width: 100vw;
        margin: 0;
        text-align: center;
     }
    }
    &__logo{
        font-size: 2.6vw;
        margin-bottom: 1vw;
        @include mq(sp) {
            font-size: 7vw;            
        }
    }
    &__img{
        width: 42vw;
        margin: 0 0% 0 9%;
        opacity: 0;
        img{
            width: 100%;
        }
        @include mq(sp) {
            width: 100vw;
            margin: 0;
            margin-bottom: -8vw;
      }
    }
    &__ttl{
        line-height: 1.3;
        font-size: 4.8vw;
        @include mq(sp) {
            font-size: 11vw;            
        }
        &Acc{
            display: block;
            letter-spacing: 0.8em;
            font-size: 0.5em;
            @include mq(sp) {
                letter-spacing: 0.7em;
                font-size: 0.4em;
            }
        }
    }
}

body.appear{
    .p-visual{
        &:before{
            clip-path: inset(0);
            transition-delay:2.6s;
        }
        &__img{
            animation: fadeUpAnime ease 1s forwards 1.8s;
        }
    }
}

.scrolldown1 {
    position: fixed;
    left: 40px;
    bottom: 3%;
    height: 50px;
    z-index: 2;
    @include mq(sp) {
        left: 20px;
        display: none;
    }
}

.scrolldown1 span {
    position: absolute;
     color: #eee;
    font-size: 0.7rem;
    letter-spacing: 0.1em;
    transform: rotate(-90deg);
    text-transform: uppercase;
    left: -20px;
    top: -32px;
    @include mq(sp) {
        left: -19px;        
    }
}
.scrolldown1::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 30px;
    background: #fff;
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
}