@use "../global/variable" as *;
@use "../global/mixin" as *;

.sampleeee:not(.babyfoodGnav),
.sampleeee:has(.a-good-time),
.sampleee:is(.primary, .secondary){
width: calc((100% - 6%) / 3);
min-width: var(--contents_width_with_padding);
font-size: calc(1em + 7px);
font-size: min(80/325 * calc(100vw - 50px),80px); //レスポンシブで文字サイズを変更。min()関数つかうので小さい方。つまり80px以下は可変。デザインは325pxに対して80px。padding分の50pxを引いた幅を掛ける。幅が400pxだと86.1538pxとなる
}
.p-mv{
  background:$color-main;
  text-align: center;
  &__kv{
    margin-bottom: 5rem;
    padding: 0 2rem 0;
    @include mq(tab) {
      margin-bottom: 2rem;      
    }
  }
  &__line{
    padding: 1.2rem 0 0.8rem;
    background:$color-black;    
  }
  &__img{
    @include mq(tab) {
      width: 56%;
      text-align: center;
      margin: auto;
    }
  }
}
