<footer class="l-footer">
    <div class="l-footer__inner">
        width: fit-content;
        margin-inline: auto;
        inline-size: fit-content;
        grid,gap,subgird
        scroll-behavier
        revert
        aspect-racio
        100svw(100svh)
        コンテナクエリ、スタイルクエリ
        :hasセレクタ,where,is,not
        カスタムプロパティ
        text-underline-offset
        text-wrap: balance
        css関数
        論理プロパティ：margin-start
        @media (width >= 400px) {}
        スクロールバー
        mvにscrollのやつ
        mv固定
        今時っぽいトップへ戻る、
        clampをパディングとかで：https://zenn.dev/kiteruri/articles/e512278dfeb613
    </div>
</footer>
