<footer class="l-footer">
    <div class="l-footer__inner">
        width: fit-content;
        margin-inline: auto;
        inline-size: fit-content;
        grid
        revert
        aspect-racio
        100svw(100svh)
        コンテナクエリ、スタイルクエリ
        :hasセレクタ,where,is
        css関数
        論理プロパティ：margin-start
        @media (width >= 400px) {}
        スクロールバー
        mvにscrollのやつ
    </div>
</footer>
