<section class="p-about">
    <div class="p-about__bg"></div>
    <div class="p-about__inner">
        <figure class="p-about__img"><img src="./img/mv_img01.png" alt=""></figure>
        <div class="p-about__box">
            <h2 class="p-about__ttl">タイトルタイトルタイトル</h2>
            <p class="p-about__txt">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストhttp://onocom.net/code/css-loop-slider/</p>
        </div>
    </div>
</section>


https://giginc.co.jp/
https://m-hand.jp/
https://sanlets.com/
https://sus.i-goods.co.jp/
https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/1-2/1-2.html
https://qiita.com/soundweaver/items/9b5a3a7c0b0e198f4570