<section class="p-about">
    <div class="p-about__bg"></div>
    <div class="p-about__inner scroll_up">
        <figure class="p-about__img"><img src="./img/about_img01.png"></figure>
        <div class="p-about__box">
            <h2 class="p-about__ttl">iPhone 15シリーズが遂に登場！</h2>
            <p class="p-about__txt">このページでは最新機種に対応のアクセサリーをピックアップ！<br><br>本体を傷や汚れから守るケース・カバーにはかわいいキャラクターものからシンプルでおしゃれな無地のものまでご用意。<br><br>その他、最新機種を便利に快適に使っていただくためのグッズを集めました！</p>
            <a href="https://www.pg-a.co.jp/product_type/2023new/" class="c-btn">All Items</a>
        </div>
    </div>
</section>

