<section class="item">
    <div class="item__inner">
        <h3 class="item__ttl">CASE</h3>
<div class="item__wrap">
<!-- ボタン1 -->
<a class="col modalBtn" data-index="0">
    <div class="col__body">
        <figure class="col__img"><img src="./img/mv_img01.png" alt=""></figure>
        <div class="col__ttl">BACK FLIP CASE</div>
        <ul class="col__colors">
            <li class="col__color col__color--white">●</li>
            <li class="col__color col__color--black">●</li>
        </ul>
    </div>
</a>
<!-- ボタン2 -->
<a class="modalBtn" data-index="1">
    <div class="card">
        <img src="https://via.placeholder.com/150" alt="Image">
        <div>モーダル2を開く</div>
    </div>
</a>
<!-- ボタン3 -->
<a class="modalBtn" data-index="2">
    <div class="card">
        <img src="https://via.placeholder.com/150" alt="Image">
        <div>モーダル3を開く</div>
    </div>
</a>
<!-- ボタン4 -->
<a class="modalBtn" data-index="3">
    <div class="card">
        <img src="https://via.placeholder.com/150" alt="Image">
        <div>モーダル4を開く</div>
    </div>
</a>
<!-- ボタン5 -->
<a class="modalBtn" data-index="4">
    <div class="card">
        <img src="https://via.placeholder.com/150" alt="Image">
        <div>モーダル5を開く</div>
    </div>
</a>
</div>


    </div>
</section>






<!-- モーダル -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modalContent">
            <p class="name">Name: </p>
            <p class="age">Age: </p>
            <p class="city">City: </p>
            <p class="color1 hide">Color1: <a class="color1Link" target="_blank"></a></p>
            <p class="color2 hide">Color2: <a class="color2Link" target="_blank"></a></p>
            <p class="color3 hide">Color3: <a class="color3Link" target="_blank"></a></p>
            <p class="color4 hide">Color4: <a class="color4Link" target="_blank"></a></p>
        </div>
    </div>
</div>


