<section class="p-mv">
    <div class="p-mv__inner">
        <div class="p-mv__lead">
            <p class="p-mv__logo">Premium Style</p>
            <h1 class="p-mv__ttl">iPhone15<span>series</span></h1>
        </div>
    </div>
</section>


見出し  **width: fit-content;**
margin-inline: auto;
inline-size: fit-content;
grid
revert
aspect-racio
100svb(100svh)

コンテナクエリ、スタイルクエリ

:hasセレクタ,where,is

text-wrap: balance

css関数

論理プロパティ：margin-start

@media (width >= 400px) {}

image-rendering: -webkit-optimize-contrast;

ouch-action: pan-y;

スクロールバー

https://www.tak-dcxi.com/article/that-css-technique-you-learned-is-outdated/

https://coliss.com/articles/build-websites/operation/css/css-new-features-for-2023.html

https://coliss.com/articles/build-websites/operation/css/state-of-css-2023.html

https://coosy.co.jp/blog/css-trend/