<section class="p-visual">
    <div class="p-visual__inner">
        <div class="p-visual__lead">
            <p class="p-visual__logo">Premium Style</p>
            <h1 class="p-visual__ttl">iPhone 15<span class=""> Series</span><span class="p-visual__ttlAcc">Accessories</span></h1>
            <a href="/" class="c-btn">All Items</a>
        </div>
        <figure class="p-visual__img"><img src="./img/mv_img01.png" alt=""></ｆigure>
    </div>
</section>


https://giginc.co.jp/
https://m-hand.jp/
https://sanlets.com/
https://sus.i-goods.co.jp/
https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/1-2/1-2.html